version: 2.1

parameters:
  orb_version:
    default: "latest"
    type: string

orbs:
  common: eddiewebb/common_tasks@dev:pull/2-d5a7f30f70b5661a422da83bda41507049e63bd1

workflows:
  basic:
    jobs:
      - common/common_task:
          task-name: demo-task