version: 2.1

orbs:
  jira: circleci/jira@dev:KyleTryon-Expanded-regex-for-issue-scanning-6b451994e00a9eb9c24300468aebc487c84ae462


workflows:
  build-deploy:
    jobs:
      - component-B
      - deploy:
          name: Dev East
          requires: 
          - component-B
      - deploy:
          name: Test East
          requires:
          - Dev East
          environment-type: testing
          context: AWS-test
      - deploy:
          name: Prod East
          requires:
          - Test East
          environment-type: production
          context: AWS-prod

jobs:
  component-B: #this job just ensutes that integration job get a higher component-B number than lint
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - run: sleep 2
      - jira/notify

  integration:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - run: echo "hi Jira"
      - jira/notify

  deploy:
    parameters:
      environment-type:
        type: string
        default: development
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - run: echo "${SAME_VARIABLE}"
      - run: |
          if [ "$SAME_VARIABLE" -eq "TEST" ]; then
            echo "test var"
          else
            echo "prod var"
          fi
      - jira/notify:
          job_type: deployment
          environment_type: <<parameters.environment-type>>
          