version: 2.1

orbs:
  win: circleci/windows@1.0.0

jobs:
  build:
    executor:
      name: win/vs2019
      shell: bash.exe
    steps:
    - checkout
    - run:
        name: Run integration tests
        command: >
          "set PATH=%PATH%;C:\Users\circleci\.local\bin \r\n"
          "echo %PATH% \r\n"
          "where state \r\n"
          "state run integration-tests \r\n"
        shell: cmd.exe
