version: 2
jobs:
  stats/with_stats:
    docker:
    - image: circleci/node:10
    steps:
    - checkout
    - run:
        command: "# debian and ubuntu *(perhaps others) basic awk does not have functions\
          \ we need insralling gawk replaces awk\nsudo apt-get -y update && sudo apt-get\
          \ -y install gawk || true  \n"
        name: Install/Confirm utilitis (gawk, )
    - run:
        background: true
        command: |
          mkdir -p circleci-stats
          watch -t "sudo ps -Aorss,%cpu | sed '1d'  | awk '{mem += \$1;cpu += \$2}END{tmem = mem / 1024;tcpu = cpu / 1024; ts = strftime("'"'"%m/%d/%Y %H:%M:%S"'"'"); printf "'"%s %.2f MB, %.2f %\n"'", ts, tmem, tcpu}' >> circleci-stats/stats.txt"
        name: Start background stats
    - run:
        command: sudo apt-get -y update && sudo apt-get -y install stress
    - run:
        command: stress --vm 4 --timeout 30
    - run:
        command: |
          awk 'function bigger(val,max){if(val > max){return val}else{return max}}{hmem=bigger($3,hmem);hcpu=bigger($5,hcpu)}END{printf "Highest values:\nMemory:\t%.2f\nCPU:\t%.2f\n",hmem,hcpu}' circleci-stats/stats.txt
        name: Stats Summary
    - run:
        command: |
          cat circleci-stats/*
        name: Print background stats
    - store_artifacts:
        path: circleci-stats
workflows:
  stress_stats:
    jobs:
    - stats/with_stats
  version: 2

# Original config.yml file:
# version: 2.1
# orbs:
#   stats:
#     commands:
#       expose_stats:
#         parameters:
#           stats_path:
#             default: circleci-stats
#             description: the relative or absolute directory for stats reports.
#             type: string
#         steps:
#         - run:
#             command: |
#               awk 'function bigger(val,max){if(val > max){return val}else{return max}}{hmem=bigger($3,hmem);hcpu=bigger($5,hcpu)}END{printf \"Highest values:\\nMemory:\\t%.2f\\nCPU:\\t%.2f\\n\",hmem,hcpu}' <<parameters.stats_path>>/stats.txt
#             name: Stats Summary
#         - run:
#             command: |
#               cat <<parameters.stats_path>>/*
#             name: Print background stats
#         - store_artifacts:
#             path: <<parameters.stats_path>>
#       start_stats:
#         parameters:
#           stats_path:
#             default: circleci-stats
#             description: the relative or absolute directory for stats reports.
#             type: string
#         steps:
#         - run:
#             background: true
#             command: \"# debian and ubuntu *(perhaps others) basic awk does not have functions
#               we need insralling gawk replaces awk\\nsudo apt-get -y update && sudo apt-get
#               -y install gawk || true  \\n\"
#             name: Install/Confirm utilitis (gawk, )
#         - run:
#             background: true
#             command: |
#               mkdir -p <<parameters.stats_path>>
#               watch -t \"sudo ps -Aorss,%cpu | sed '1d'  | awk '{mem += \\$1;cpu += \\$2}END{tmem = mem / 1024;tcpu = cpu / 1024; ts = strftime(\"'\"'\"%m/%d/%Y %H:%M:%S\"'\"'\"); printf \"'\"%s %.2f MB, %.2f %\\n\"'\", ts, tmem, tcpu}' >> <<parameters.stats_path>>/stats.txt\"
#             name: Start background stats
#     description: Allows CircleCI builds to access private network services over a intermediate
#       jump host using SSH port forwarding.
#     examples:
#       providing_key_as_path:
#         description: Install stress and use memory
#         usage:
#           orbs:
#             stats: eddiewebb/stats@volatile
#           version: 2.1
#           workflows:
#             stress_stats:
#               jobs:
#               - stats/with_stats:
#                   job_steps:
#                   - run: sudo apt-get update  && sudo apt-get -y install stress || true
#                   - run: stress --vm 4 --timeout 30
#     executors:
#       default:
#         docker:
#         - image: <<parameters.docker_image>>
#         parameters:
#           docker_image:
#             default: circleci/node:10
#             description: the docker image to use for job
#             type: string
#     jobs:
#       with_stats:
#         executor: <<parameters.executor>>
#         parameters:
#           executor:
#             default: default
#             description: the executor to use for job
#             type: executor
#           job_steps:
#             description: Map of steps to run while collecting stats
#             type: steps
#           stats_path:
#             default: circleci-stats
#             description: the relative or absolute directory for stats reports.
#             type: string
#         steps:
#         - checkout
#         - start_stats:
#             stats_path: <<parameters.stats_path>>
#         - steps: <<parameters.job_steps>>
#         - expose_stats:
#             stats_path: <<parameters.stats_path>>
#     version: 2.1
#     
# workflows:
#   stress_stats:
#     jobs:
#       - stats/with_stats:
#           job_steps:
#             - run: sudo apt-get update && sudo apt-get install -y stress
#             - run: stress --vm 4 --timeout 30
