version: 2.1  

orbs:
  common: eddiewebb/common_tasks@dev:machine-9c32b0b5a04cdf5bd4deb150aca5287f42b9c30a

workflows:
  basic:
    jobs:
      - common/common_task:
          task-name: demo-task
          executor: common/machine